@(message: String)

@main("Welcome to Play") {

    <h1>The tastes of the cookie is shown below</h1>
    <br>

    <br>
    <h1 style="color: red;
        text-align: center;
        font-size: 300%">@message</h1>
    <br>
    <ul>
        <br>
        <li><a href="/">Take me back to the home page</a></li>
        <br>
        <li><a href="http://localhost:9000/cookie">Get me a Cookie</a></li>
        <br>
        <li><a href="http://localhost:9000/eatcookie">Eat the Cookie</a></li>
        <br>
    </ul>

}
