@(message: String)

@main("Cookies be gone!") {

    <h1>The tastes of the cookie is shown below</h1>
    <br>


    <br>
    <h1 style="color: red;
        text-align: center;
        font-size: 300%">@message</h1>
    <br>

    <div align="center">
        <img class="img-responsive" src="@routes.Assets.at("images/cookieeating.gif")">
    </div>
    <ul>
        <br>
        <li><a href="/">Take me back to the home page</a></li>
        <br>
        <li><a href="http://localhost:9000/cookie">Get me a Cookie</a></li>
        <br>
        <li><a href="http://localhost:9000/showmethecookie">Show me the Cookie</a></li>
        <br>
    </ul>


}