@(name :String)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
    <div>
        <h1>HTTP Error 404</h1>
    </div>
    <div>
        <h4>For Oh For: Not found</h4>
    </div>

    <div>
        <p>
            Can't find what you are looking for.
        </p>


        <p>
            <a href="@routes.Application.index()">Go to the home page<br></a>
            <a href="https://www.google.co.uk/maps">Go home.</a>
        </p>
    </div>
    <div align="center">
        <img src="@routes.Assets.at("images/err404.jpg")">
    </div>

</body>
</html>




}