@(message: Option[String])

    @main("Hello") {
        <script>
            function nameFunction() {
                var n;
                n = document.getElementById("name").value;
                if (n =="") n = "Stranger";
                window.location = "http://localhost:9000/hello/"+n;
            }
        </script>

        <h1>Hello</h1>

        <br><h1 style="color: #08b00c;text-align:center;font-size:300%">@message</h1>
        <br>
        <body>Is that not your name? If that isn't your name enter it in here:</body>

        <input id="name">
        <button type="button" onclick="nameFunction()">Submit</button>

        <a href="/">Take me back to the home page</a>

    }