@(message: String)

@main("Not welcome!") {

  <h1>This place is not for you</h1>
  <br>

  <br>
  <h1 style="color: red;
    text-align: center;
    font-size: 300%">@message</h1>
  <br>
  <div align="center">
    <img class="img-responsive" src="@routes.Assets.at("images/exitbelow.gif")">
  </div>
  <ul>
    <br>
    <li><a href="/">o...ok...</a></li>
    <br>
    <li><a href="http://www.bbc.co.uk/cbbc">Click here if you are old enough</a></li>
    <br>
    <li><a href="https://www.google.co.uk/maps">Click here if you are lost</a></li>
    <br>
  </ul>
}