@(items: Seq[Item], form: Form[Item])(implicit messages: Messages)

@main("Items") {

    <h1>Items</h1><br>
    <table  class="table-hover table-inverse" align="center" style="width:100%; background-color: #dcdcdc">
        <thead>
            <tr><th>Index</th><th>Item Name</th><th>Description</th><th>Manufacturer</th>
                <th>Warranty</th><th>Price</th><th>Discount</th>
                <th>Seller</th><th>Picture</th>
        </thead>
        <tbody>
        @for(item <- items) {
            <tr>
                <td>@items.indexWhere(i => i == item)</td>
                <td>@item.itemName</td>
                <td>@item.description</td>
                <td>@item.maker</td>
                <td>@item.warranty</td>
                <td>@item.price</td>
                <td>@item.discount</td>
                <td>@item.seller</td>
                @if(item.picture == "no picture"){
                <td><a><img src="@routes.Assets.at("images/noimage.png")" style="width: 75px; height: auto"> </a> </td></tr>

        } else{
                <td><a><img src="@item.picture" style="width: 60px; height: auto"> </a> </td></tr>
            }
        }
        </tbody>
    </table>
    <hr/>



}